<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>EventShack</title>
	<link rel="stylesheet" type="text/css" href="static/css/min.css">
	{% endblock %}
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="static/js/min.js"></script>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('success') }}">Dashboard</a>
    </div>
		<ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('home') }}">Home</a></li>
      </ul>
  </div>
</nav>
	{% block content %}
	{% endblock %}
</body>
</html>
