{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<h3 class="row-lg-4 col-sm-2">Welcome to EventShack.</h3>
	<h5>Administrative tools for the Passionate Organizer department.</h5>
	<br>
  <section class="col-md-3"> <p>Enter your information below.</p>
  <form action="" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" class="btn btn-primary" value="Log Me In!" data-toggle="modal" data-target="#myModal">
  </form></section>

  <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">EventShack</h4>
      </div>
      <div class="modal-body">
        <p>Logging in...</p>
      </div>
    </div>
  </div>
</div>
	<br>
	<p>Don't have an account? <a href="{{ url_for('register') }}">Register Now.</a></p>
	{% if error %}
	<div class="alert alert-dismissible alert-danger col-lg-5" id="warning">

  <button type="button" class="close" id="closeButton">&times;</button>

  <strong>Oh snap!</strong> {{ error }}
  <script type="text/javascript">
  	$(document).ready(function(){
  		$('#closeButton').click(function(){
  			$('#warning').fadeOut("slow");
  		});
  	});

  </script>

</div>
	{% endif %}
{% endblock %}